
.navbar-mobile {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0%;
    padding: 1rem;
    margin-bottom: 0;
}

.nav-items-mobile {
    width: 25%;
    font-size: 1.2rem;
}

@media screen and (min-width: 590px) {

    .nav-items-mobile{
        display: none;
    }
}

@media screen and (max-width: 590px) {

    .navbar-mobile{
        display: fixed;
        background-color: white;
    }
}